.dialog {
    margin-top: 25px;

    &:first-child {
        margin-top: 0;
    }

    &__wrapper {
        display: flex;
        align-items: center;

        img {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            margin-right: 15px;
            object-fit: cover;
        }
    }
}